#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	/* text-align: center; */
}

.read-the-docs {
	color: #888;
}

form {
	max-width: 300px;
	background-color: #0e101c;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin: 8px;
}

label {
	margin: 6px;
	color: #646cff;
}

input {
	margin-left: 20px;
	border-radius: 5px;
	padding: 4px 2px;
}
p {
	margin-top: 6px;
}
.Scene__new {
	display: flex;
}
